<div class="container">
  <h1>Ejercicio edades</h1>

<hr>


<div class="row">
  <div class="col-2">
    <div class="mb-3">

      <label for="edadUno" class="form-label">Ingrese una edad: </label>
      <input type="number" class="form-control" name="edadUno" [(ngModel)]="edadUno">

    </div>
    <div class="mb-3">

      <label for="edadDos" class="form-label">Ingrese otra edad: </label>
      <input type="number" class="form-control" name="edadDos" [(ngModel)]="edadDos">

    </div>

    <button type="button" class="btn btn-warning m-2" (click)="calcular()">
      Calcular
    </button>
  
    <button type="button" class="btn btn-warning m-2" (click)="borrar()">
      Borrar datos
    </button>
  </div>

  
</div>

<hr>

<div class="row">
  <div class="col-3">

    <label for="suma" class="form-label">Suma de las edades: </label>
    <input type="text" class="form-control" readonly name="suma" [value]="sumaEdades">

    <label for="promedio" class="form-label">Promedio de las edades: </label>
    <input type="text" class="form-control" readonly name="promedio" [value]="promedio">

  </div>
</div>
</div>